In [1]:
#Data siswa
nilai_siswa = {'Asep' : 88, 'Yeon' : 80, 'Tian' : 75, 'Astrid' : 60, 'Budi' : 90}

In [ ]:
#list siswa
for nama, nilai in nilai_siswa.items():
    print(f"{nama} : {nilai}")

In [ ]:
#nilai rata-rata
def hitung_rata(jumlah):
    return sum(jumlah.values())/len(jumlah)
rata = hitung_rata(nilai_siswa)
print("nilai rata-rata :" , rata)

In [ ]:
#kelulusan
def a(hasil):
    if hasil >= 80:
        return "LULUS"
    else :
        return "TIDAK LULUS"

In [14]:
#KELULUSAN FINAL
print("STATUS SISWA")
for nama in nilai_siswa :
    nilai = nilai_siswa[nama]
    status = a(nilai)
    print("-" * 20)
    print(nama , ":", nilai, "=", status)

STATUS SISWA
--------------------
Asep : 88 = LULUS
--------------------
Yeon : 80 = LULUS
--------------------
Tian : 75 = TIDAK LULUS
--------------------
Astrid : 60 = TIDAK LULUS
--------------------
Budi : 90 = LULUS